.door-info-page{
    margin-top: 30px;
}

.door-info-page__inner{
    padding: 28px 18px;
    background-color: #FFFFFF;
}

.door-info-top{
    display: flex;
    flex-direction: row;
}

.door-image-container{
    width: 35%
}

.door-image{
    width: 100%;
}

.door-main-info{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.door-main-info h2{
    font-size: 34px;
    font-weight: 400;
    line-height: 36px;
    font-family: Arial, sans-serif;
    color: #707070;
}

.door-main-info p{
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    font-family: Arial, sans-serif;
    color: #959595;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;
    width: 60%;
}

.door-main-info label{
    margin: 15px 0 5px 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    color: #707070;
}

.select{
    position: relative;
    width: 60%;
    display: flex;
}

.select select{
    width: 100%;
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    padding: 6px;
    color: #838383;
}

.select::before {
    content: "\2228";
    position: absolute;
    right: 0;
    pointer-events: none;
    padding: 3px 8px 5px 8px;
    color: #ffffff;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background: #4bb0f5;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.select option{
    padding: 40px;
}

.door-main-info span{
    color: #4bb0f5;
    font-size: 32px;
    font-weight: 500;
    font-family: Arial, sans-serif;
}

@media all and (max-width: 1000px) {
    .door-main-info p {
        width: 70%;
    }

    .select{
        width: 70%;
    }
}

@media all and (max-width: 900px) {
    .door-main-info h2 {
        font-size: 30px;
    }
}

@media all and (max-width: 860px) {
    .door-main-info p {
        width: 90%;
    }

    .select{
        width: 90%;
    }
}

@media all and (max-width: 700px) {
    .door-info-top{
        flex-direction: column;
    }

    .door-image-container{
        width: 80%;
        margin: 0 auto;
    }

    .door-main-info{
        width: 95%;
        margin: 20px auto;
    }
}





