.auto-brand-container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    padding: 5px 0;
    border-bottom: 2px solid rgba(0,0,0,.1);
    margin-bottom: 4px;
    transition: all 0.3s;
}

.auto-brand-container:hover{
    background-color: #ddd;
    transition: all 0.3s;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right:-160px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid rgba(0,0,0,.1);

}

.dropdown-content a:hover {background-color: #ddd;}

.auto-brand-container:hover .dropdown-content {display: block;}


.auto-brand-container:hover{

    transition: all 0.3s;
}

.auto-brand-logo{
    width: 35px;
    margin: auto 5px;
}

.auto-brand-container p{
    margin: auto 0;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.auto-brand-container span{
    margin: auto 0 auto auto;
    padding-right: 5px;
    display: flex;
}