.auto-brand-adaptive-container{
    width: 20%;
    border: 1px solid rgba(179, 155, 91, 0.5);
    margin: 4px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(179, 155, 91, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
}

.auto-brand-adaptive-container:hover{
    background-image: url("../../assets/mercedes.png");
    border-color: rgba(0,0,0,0.4);
    transition: all 0.3s;

}

.auto-brand-adaptive-container p{
    text-align: center;
}

.auto-brand-adaptive-logo{
    width: 70%;
    display: flex;
    margin: 0 auto;
}
