.auto-card-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4px;
    padding: 15px;
    transition: all 0.3s;
    background: linear-gradient(
            0deg
            ,rgba(88,88,88,.1) 0%,transparent 46.76%),#fff;
}

.auto-card-container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s;
}

.auto-logo{
    width: 90%;
    margin: 10px auto;
    padding: 10px 0;
    border: 1px solid #919191;
}

.auto-card-container p{
    font-size: 14px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

.auto-card-container span{
    font-size: 18px;
}

.auto-brand-card-footer{
    display: flex;
    justify-content: space-between;
}

.availability{
    margin: auto 0;
}

@media all and (max-width: 450px) {
    .auto-card-container {
        width: 40%;
        margin: 10px auto;
    }
}
