.search-section-container{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.search-section-container .search-container{
    display: flex;
    flex-direction: row;
    width: 60%;
}
.search{
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.search-section-container .search-icon{
    margin: auto 0;
    width: 19px!important;
    height: 19px!important;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-left: 1px solid rgba(0,0,0,0.3);
}

.search-section-container .input-search{
    height: 35px;
    width: 100%;
    margin: auto 0;
    transition: all 0.3s;
    font-size: 16px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
}

.search-section-container .input-search:focus{
    outline: none;

}

.input-search:focus.search-icon{
    background-color: #fff;
    width: 100%;
    outline: none;
}

.mercedes-image{
    position: fixed;
    right: 9%;
    top: 85px;
    width: 330px;
    transform: scaleX(-1);
}

@media all and (max-width: 700px){
    .mercedes-image{
        right: 10px;
        top: 80px;
        width: 170px;
    }

}