.header{
    width: 100%;
    background-color: #1f1f1d;
    display: flex;
    justify-content: space-between;
    padding: 0;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

.header__inner{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    margin: auto;
    justify-content: space-between;
}

.header__inner-logo{
    width: 15%;
    height: 100%;
}

.header__inner-logo-adaptive{
    display: none;
}

.header-navigation{
    display: flex;
    justify-content: space-around;
    margin: auto 10px;
    width: 40%;
}

.header__navigation-link{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    transition: 0.25s linear;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.header__navigation-link:hover{
    color: #B39B5B;
    transition: 0.2s linear;
    text-decoration: none;
}


.search-container{
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 0;
}

.search-icon{
    margin: auto 0;
    width: 19px!important;
    height: 19px!important;
    background-color: #fff;
    padding: 8px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 2px solid #B39B5B;
    border-bottom: 2px solid #B39B5B;
    border-left: 2px solid #B39B5B;
}

.input-search{
    height: 35px;
    width: 100%;
    margin: auto 0;
    transition: all 0.3s;
    font-size: 16px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 2px solid #B39B5B;
    border-bottom: 2px solid #B39B5B;
    border-right: 2px solid #B39B5B;
}

.input-search:focus{
    background-color: #fff;
    width: 100%;
    outline: none;

}

.input-search:focus.search-icon{
    background-color: #fff;
    width: 100%;
    outline: none;

}

.header__inner-contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.header__inner-contact a{
    color: #fff;
    text-decoration: none;
}

.header__inner-contact span{
    color: #B39B5B;
}

.header__inner-toggle{
    display: none;
}
@media all and (max-width: 1300px) {
    .header-navigation{
        width: 40%;
    }
}

@media all and (max-width: 1150px) {
    .header__inner-logo{
        display: flex;
        width: 20%;
    }
}

@media all and (max-width: 1000px) {
    .container{
        width: 95%;
    }
}


@media screen and (max-width: 900px){
    .header-navigation{
        display: none !important;
    }

    .header__inner-contact{
        display: none;
    }

    .header__inner-toggle{
        display: flex;
        margin: auto 0;
    }

    .search-container{
        display: flex;
        width: 55%;
    }
}

@media all and (max-width: 600px) {
    .header__inner-logo {
        display: none;
    }
    .header__inner-logo-adaptive{
        display: block;
        width: 50px;
    }

    .search-container{
        width: 60%;
    }
}